/* ===== HERO - VERSIÓN FINAL ===== */
@font-face {
  font-family: 'Chillen';
  src: url('../../assets/fonts/Chillen.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rasa';
  src: url('../../public/assets/fonts/Rasa-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.hero-section {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3d2e25;
  background: linear-gradient(180deg,rgb(42, 34, 26) 0%, rgba(0, 0, 0, 1) 95%);
  position: relative;
  overflow: hidden;
}

.hero-content {
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-content h1 {
  font-size: 12rem;
  font-weight: 100;
  color: #dbd8cc;
  margin: 0;
  font-family: 'Chillen', sans-serif;
  line-height: 1;
}

.hero-content p {
  font-size: 1.13rem;
  color: #707070;
  line-height: 1.6;
  margin-top: 0rem;
  max-width: 600px;
  font-style: italic;
  margin-bottom: 5%;
}

.hero-content h3 {
  font-size: 1rem;
  color: #BDAE8E;
  line-height: 1.6;
  margin-top: 0.5rem;
  max-width: 600px;
  font-family: 'Rasa', serif;
  font-weight: 600;
}

/* ===== GARANTÍA DE 0 SCROLL HORIZONTAL ===== */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}


/* Estilos para la imagen pequeña debajo de los títulos */
.hero-section .small-image {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: auto;
  z-index: 2;
  pointer-events: none;
  /* Degradado negro (transparente → negro) */
  mask-image: linear-gradient(to bottom, #000 0%, black 80%);
  -webkit-mask-image: linear-gradient(to bottom, #000 10%, #0000008d 30%, #00000005 85%);
}

.hero-section .left-image {
  position: absolute;
  top: 55%;
  left: 15%;
  transform: translate(-50%, -50%) scaleX(-1);
  width: 720px;
  height: auto;
  z-index: 2;
  pointer-events: none;
  opacity: 0.8;
}

.hero-section .right-image {
  position: absolute;
  top: 55%;
  left: 85%;
  transform: translate(-50%, -50%);
  width: 720px;
  height: auto;
  z-index: 2;
  pointer-events: none;
  opacity: 0.8;
}
